{% extends "layout.html" %}
{% block body %}

<h2 style="text-align: center;">GitHub Digest for:<br/> {{ org_name }}</h2>
<script type="text/javascript" src="/static/js/src/charts.js"></script>
<div class="ten columns">
    <h4>Members</h4>
    <table>
        <tr><th>User</th><th>Activity Score</th><th>Commits</th><th>Code Changes</th><th>Issues Created</th><th>Issue Comments</th><th>Repositories</th></tr>

        {% for stat in activity_per_user[:5] %}

            <script type="text/javascript">
                RepositoryChart.setup("/organizations/repo_data/{{ org_name }}/{{ stat.username }}", {{ loop.index }});
            </script>
            <tr>
                <td>
                    <img style="height: 100px" src="{{ stat.avatar_url }}" /><br/>
                    <a href="http://github.com/{{ stat.username }}">{{ stat.username }}</a>
                </td>
                <td>{{ stat.activity_score_normalized }}</td>
                <td>{{ stat.commits }}</td>
                <td>{{ stat.changes }}</td>
                <td>{{ stat.issues }}</td>
                <td>{{ stat.issue_comments }}</td>
                <td><svg class="chart-{{ loop.index }}"></svg></td>
            </tr>

        {% endfor %}
    </table>
</div>
<div class="ten columns">
  <h4>Projects Brief</h4>
    <table>
        <tr><th>Name</th><th>Commits</th><th>Changes</th><th>Issues Created</th><th>Issues Commented</th><th>Users</th></tr>
        {% for repo in repositories %}
        <tr><td>{{ repo.name }}</td>
            <td>{{ repo.commits }}</td>
            <td>{{ repo.changes }}</td>
            <td>{{ repo.issues }}</td>
            <td>{{ repo.issue_comments }}</td>
            <td>
                {% for user in repo_activity[repo.name] %}
                <a href="http://github.com/{{ user.username }}"><img style="height: 35px" src="{{ user.avatar_url }}" /></a>
                <!--{{ user.username }}: {{ user.percent_changes }} {{ user.percent_issues }} {{ user.percent_issue_comments }}-->
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}